# Stripe API keys - see https://stripe.com/docs/development/quickstart#api-keys
STRIPE_PUBLISHABLE_KEY=pk_test_72MyjkZmEFjLNT4AiCo2djR300RLnCxJAP
STRIPE_SECRET_KEY=sk_test_IgCPDRrjICqiTdP0vNmqe2Lg00l8Tq0mXZ

#keys for aubecs_payment
STRIPE_PUBLISHABLE_KEY_AU=pk_test_72MyjkZmEFjLNT4AiCo2djR300RLnCxJAP
STRIPE_SECRET_KEY_AU=sk_test_IgCPDRrjICqiTdP0vNmqe2Lg00l8Tq0mXZ

#keys for grab and fpx payments
STRIPE_SECRET_KEY_MY=sk_test_IgCPDRrjICqiTdP0vNmqe2Lg00l8Tq0mXZ
STRIPE_PUBLISHABLE_KEY_MY=pk_test_72MyjkZmEFjLNT4AiCo2djR300RLnCxJAP

# Required to run webhook
# See README on how to use the Stripe CLI to setup
# Ignore when running `without-webhooks` samples
STRIPE_WEBHOOK_SECRET=whsec_
